# Arquivo de Configuração de bloqueio de acesso ao diretorio raiz do APACHE V2.0
# Esse arquivo descreve todas as limitações do "não -usuario" realizarar dentro 
# dos serviços proposto, limitando a possiveis bular o sistema com HTTP INJECTOR ou
# Mudança de cabeçalho durante a requisição.

#Desenvolvido e mantido por Safe & Zutup Soluções

# rid-pro .htaccess

# rewrite rules
<IfModule mod_rewrite.c>

# Habilitar as urls no IE - Internet Explore


RewriteEngine on

# Habilitar timezone
SetEnv TZ GMT


# RewriteBase /site

# RewriteBase /

# Bloquear o acesso aos arquivos de texto da pasta diretorio /site/ e diretorio /content/

RewriteRule ^content/(.*)\.(txt|md|mdown)$ index.php [L]
RewriteRule ^site/(.*) index.php

# RewriteRule 

</IfModule>

